.LeftMenu {
  width: 16rem;
  height: 100%;
  min-height: 100vh;
  background: rgba(34, 34, 34, 0.6);
  backdrop-filter: blur(0.25rem);
  padding: 1.5rem;
  overflow: hidden;
  transition: all 0.3s ease;
}

.LeftMenu .logoContainer {
  justify-content: space-between;
  color: white;
  display: flex;
  align-items: center;
}
.LeftMenu .logoContainer i {
  font-size: 1.4rem;
}
.logoContainer i:nth-child(3) {
  font-size: 1.2rem;
}
.search-box {
  width: 100%;
  height: 2.5rem;
  position: relative;
}
